<?xml version="1.0"?>
<config>
    <modules>
        <TendoPay_TendopayPayment>
            <version>0.1.0</version>
        </TendoPay_TendopayPayment>
    </modules>
    <tendopay>
        <environments>
            <sandbox>
                <name>Sandbox</name>
                <api_url>https://sandbox.tendopay.ph/</api_url>
            </sandbox>
            <production>
                <name>Production</name>
                <api_url>https://app.tendopay.ph/</api_url>
            </production>
        </environments>
    </tendopay>
    <frontend>
        <routers>
            <tendopay>
                <use>standard</use>
                <args>
                    <module>TendoPay_TendopayPayment</module>
                    <frontName>tendopay</frontName>
                </args>
            </tendopay>
        </routers>
        <layout>
            <updates>
                <tendopay>
                    <file>tendopay.xml</file>
                </tendopay>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
                 <tendopay_token>
                     <to_order_payment>*</to_order_payment>
                 </tendopay_token>
                 <tendopay_order_id>
                     <to_order_payment>*</to_order_payment>
                 </tendopay_order_id>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <tendopay>
                <class>TendoPay_TendopayPayment_Model</class>
                <resourceModel>tendopay_mysql4</resourceModel>
            </tendopay>
            <tendopay_mysql4>
                <class>TendoPay_TendopayPayment_Model_Mysql4</class>
                <entities>
                    <tendopay>
                        <table>tendopay</table>
                    </tendopay>
                </entities>
            </tendopay_mysql4>
        </models>
        <resources>
            <tendopay_setup>
                <setup>
                    <module>TendoPay_TendopayPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tendopay_setup>
            <tendopay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tendopay_write>
            <tendopay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tendopay_read>
        </resources>
        <blocks>
            <tendopay>
                <class>TendoPay_TendopayPayment_Block</class>
            </tendopay>
        </blocks>
        <helpers>
            <tendopay>
                <class>TendoPay_TendopayPayment_Helper</class>
            </tendopay>
        </helpers>

        <events>
            <controller_action_layout_load_before>
                <observers>
                    <tendopay_tendopaypayment_model_observer>
                        <type>singleton</type>
                        <class>TendoPay_TendopayPayment_Model_Observer</class>
                        <method>lookforApiErrors</method>
                    </tendopay_tendopaypayment_model_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <default>
        <payment>
            <tendopay>
                <active>1</active>
                <title>TendoPay - Buy now, pay later with TendoPay</title>
                <message><![CDATA[<p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#" class="privacy-policy-link" target="_blank">privacy policy</a>.</p>]]></message>
                <model>tendopay/standard</model>
                <order_status>processing</order_status>
                <api_mode>sandbox</api_mode>
                <debug>1</debug>
                <allowspecific>0</allowspecific>
                <api_merchant_secret backend_model="adminhtml/system_config_backend_encrypted"/>
                <api_client_secret backend_model="adminhtml/system_config_backend_encrypted"/>
            </tendopay>
         </payment>
    </default>
</config>